.inner {
            border: 2px solid black;
            border-radius: 15px;
            background-color: white;
            margin-right: 110px;
            margin-left: 110px;
            margin-top: 50px;
            font-family: 'Times New Roman', Times, serif;
}

h1 {
            text-align: center;
}

.button4 {
            border-radius: 12px;
}

.formtable {
            margin-right: 30px;
            margin-left: 30px;
            width: 60%;
            text-align: left;
}