.inner {
            border: 2px solid black;
            border-radius: 15px;
            background-color: white;
            margin-right: 110px;
            margin-left: 110px;
            margin-top: 50px;
            font-family: 'Times New Roman', Times, serif;
}

h1 {
            text-align: center;
}

.listtable {
            width: 70%;
            margin: auto;
            margin-bottom: 30px;
}

thead{
    background-color: lightgray;
    text-align: center;
}

tbody{
    background-color: lightsalmon;
    text-align: left;
}

